<div class="body-content">
  <div class="row">
    <div class="page-body small-10 small-centered large-uncentered columns">
      <div class="heading-title hide-for-small-only">
        <h2>GuiTools</h2>
      </div>
      <div class="body-text-container small-12 small-centered columns">
        <div class="body-text">
          <h3>Here be a few things to help you musicians out there: </h3>
          <p>Want to know the name of a chord that you "made up"? Check this <%= link_to 'THING' ,
                                                                                         'http://www.chorderator.com/designer/',
                                                                                         :target => "_blank" %> out!</p>
          <p>Just starting out and are curious about <%= link_to 'EFFECTS',
                                                                 'http://thehub.musiciansfriend.com/guitar-buying-guides/buying-guide-guitar-and-bass-effects',
                                                                 :target => "_blank" %>?</p>
          <p>Need online <%= link_to 'LESSONS', 'http://www.truefire.com, :target => "_blank"'%>?</p>
          <p>In case you were wondering, the absolute best place to buy music equipment anywhere online is <%= link_to 'SWEETWATER' ,
                                                                                                                'http://www.sweetwater.com', :target => "_blank" %>.
            Complety unmatched customer service. Do yourself a favor and ask for my man Joe Schafer. </p>

        </div>
      </div>
    </div>
    <div class="side-bar small-2 columns hide-for-medium-down">
      <ul>
        <li><%= link_to 'Music', 'music' %></li>
        <li><%= link_to 'About', 'about' %></li>
        <li><%= link_to 'Blog', 'blog' %></li>
        <li><%= link_to 'GuiTools', 'guitools' %></li>
      </ul>
    </div>
  </div>
</div>