<div class="body-content">
  <div class="row">
    <div class="page-body small-10 small-centered large-uncentered columns">
      <div class="heading-title hide-for-small-only">
        <h2>Welcome to the Official STONEFOOT web site!</h2>
      </div>
      <div class="body-text-container small-12 small-centered columns">
        <div class="body-text">
          <h2>What's New</h2>
          <p>3/6/17 - Sigh. Gotta pull it together to record more tracks! I have one almost complete (only lacks vocals), and another started.</p>
          <p>1/17/17 - Remastered tracks and posted them on the YouTubes.</p>
          <p>6/21/16 - Added the track "Nothing" to the music page.</p>
          <p>6/8/16 - If for some reason you'd like to purchase my tracks, head over to my <%= link_to 'BandCamp', 'http://stonefootrock.bandcamp.com/', :target => "_blank"%> page.</p>
          <p>6/6/16 - Added the track, "The Gold"</p>
          <p>5/23/16 - Added the "Guitools" page. Here I'll be adding things that will assist musicians in their quest
            of making the musics. </p>
          <p>5/12/16 - Added the track, "Carbon Copy" to the site. Enjoy!</p>
        </div>
      </div>
    </div>
    <div class="side-bar small-2 columns hide-for-medium-down">
      <ul>
        <li><%= link_to 'Music', 'music' %></li>
        <!--<li><%= link_to 'About', 'about' %></li>-->
        <!--<li><%= link_to 'Blog', 'blog' %></li>-->
        <li><%= link_to 'GuiTools', 'guitools' %></li>
      </ul>
    </div>
  </div>
</div>