<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "STONEFOOT" %></title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rock" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Uncial+Antiqua' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="app/assets/stylesheets/animate.min.css">

  </head>

  <body>
    <div class="titleDiv small-12 small-centered columns hide-for-small-only animated bounce">
      <a href="/"><h1>STONEFOOT</h1></a>
    </div>
    <div class="titleDivMobile small-12 small-centered columns show-for-small-only animated bounce">
      <a href="/"><h1>STONEFOOT</h1></a>
    </div>
    <%= yield %>
  </body>
  <div class="footer">
    <div class="mobile-nav small-text-center medium-text-center columns show-for-medium-down">
      <%= link_to 'Music', 'music' %> &nbsp
      <%= link_to 'About', 'about' %> &nbsp
      <%= link_to 'Blog', 'blog' %> &nbsp
      <%= link_to 'GuiTools', 'guitools' %>
    </div>
  </div>
</html>
